@namespace MudBlazor
@inherits MudComponentBase

@if (MudTab?.KeepPanelsAlive == true)
{
    <div @attributes="UserAttributes" class="@Class" style="display:@(MudTab?.ActivePanel == Panel ? "contents" : "none");@Style">
        @ChildContent
    </div>
}
else
{
    @if (MudTab?.ActivePanel == Panel)
    {
        @ChildContent
    }
}

@code {
    [Parameter] public MudTabs MudTab { get; set; }

    [Parameter] public MudTabPanel Panel { get; set; }

    [Parameter] public bool Render { get; set; }

    [Parameter] public EventCallback AfterRender { get; set; }

    [Parameter] public RenderFragment ChildContent { get; set; }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await base.OnAfterRenderAsync(firstRender);
        await AfterRender.InvokeAsync();
    }

    protected override bool ShouldRender()
    {
        return Render;
    }
}
